@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'SourceCodePro';
  src: url('../fonts/SourceCodePro/SourceCodePro-Regular.woff') format('woff'),
    url('../fonts/SourceCodePro/SourceCodePro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto/RobotoCondensed-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
